# Maven or Gradle build files
target/
*.jar
*.war
*.ear


target/


# IDE-specific files
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Logs and temp files
logs/
*.log
*.tmp
hs_err_pid*
!src/main/resources/application*.properties # If you want to keep example config files

# Sensitive config files
docker-compose.yml
application.properties
application.yml
.env

# Node.js (if using React frontend)
node_modules/
dist/

